<body>

  <div class="container">
    <div class="Searchbox">
      <input class="search" type="text" id="word" name="word" 
      list="word-list" (change)="getbooks(word.value)" placeholder="Search book..." 
      aria-label="Search" #word>

      <button class="search-btn" type="submit">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <i class="fa fa-search"></i>
      </button>

    </div>
  </div>



  <div *ngIf="data.length != 0">
    <div class="result">
      <div class="result-book">
        <h2>Resultats</h2>
        <hr color="black">
        <br><br><br> 
        <div class="card" *ngFor="let item of data">
          <app-book [book]=item></app-book>
        </div>
      </div>
    </div>
  </div>



</body>
